<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <File name="info" fileName="log/info.log">
      <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c - %msg%n"/>
    </File>
    <File name="fatal" fileName="log/fatal.log">
      <LevelRangeFilter minLevel="FATAL" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="info"/>
      <AppenderRef ref="fatal"/>
    </Root>
  </Loggers>
</Configuration>